__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# FastAPI / Uvicorn
*.log

# Env
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Testing
.coverage
.pytest_cache/
htmlcov/

# IDE
.idea/
.vscode/
*.iml

# Docker
.dockerignore

#Media
/uploads/
/media/

#Linter
.ruff_cache/